<!DOCTYPE html>
<html ng-app="1day">

<head>
    <title>My App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="app.less" type="text/css" rel="stylesheet/less" />
</head>

<body>
  <div style="text-align: center" ng-controller="endday as vm">
        <label>Name:</label>
        <input type="text" ng-model="yourname" placeholder="Enter a name here">
        <h1>
        So Long {{yourname}},and Thanks for All the Fish
        </h1>
        <h2 style="text-align: center">{{vm.counter}}
        <img src={{vm.image}} />
        </h2>
      </div>

    <div ui-view>
        <!-- Content loads here -->
    </div>

    <!-- Scripts for development only (stripped during dist build) -->
    <script src="http://localhost:35729/livereload.js" data-concat="false"></script>
    <script src="../bower_components/less.js/dist/less-1.6.2.js" data-concat="false"></script>

    <!-- JS from Bower Components -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="../bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <!-- Add New Bower Component JS Above -->

    <!-- Main App JS -->
    <script src="app.js"></script>

    <script src="common/common.module.js"></script>
    <script src="common/controllers/common-controller.js"></script>
    <script src="common/services/common-service.js"></script>

    <script src="shell/shell.module.js"></script>
    <script src="shell/controllers/shell.controller.js"></script>

    <script src="home/home.module.js"></script>
    <script src="home/controllers/home-controller.js"></script>
    <script src="home/services/home-service.js"></script>

    <script src="help/help.module.js"></script>
    <script src="help/controllers/help-controller.js"></script>
    <script src="help/services/help-service.js"></script>



    <!-- Add New Component JS Above -->


</body>

</html>
