<!DOCTYPE html>
<html ng-app="1day">

<head>
    <title>My App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="app.less" type="text/css" rel="stylesheet/less" />
</head>

<body>
  <div style="text-align: center" ng-controller="endday as vm">
        <label>Title </label>
        <input type="text" ng-model="vm.titleText" placeholder="Title here">
        <label>Score:</label>
        <input type="text" ng-model="vm.score" placeholder="Enter an image score here">

          <h2 my-really-flexible-image-presenter="{template:'<div style=\'font-family:verdana; color: lightblue\'><h3>Image Details</h3>
                                                <h4>Title: <span ng-bind=\'vm.titleText\'></span></h4><h5>Image Score: <span ng-bind=\'vm.score\'></span></h5> </div>'}" >
            <!-- < my-really-flexible-image-presenter template="vm.template" posx="vm.posx" posy="vm.posy"></my-really-flexible-image-presenter> -->
          <img src="/images/endoftheworld.png"/>
          </h2>
        </p>
      </div>


    <!-- Scripts for development only (stripped during dist build) -->
    <script src="http://localhost:35729/livereload.js" data-concat="false"></script>

    <!-- JS from Bower Components -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="../bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <!-- Add New Bower Component JS Above -->

    <!-- Main App JS -->
    <script src="app.js"></script>



    <!-- Add New Component JS Above -->


</body>

</html>
